<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Path" value=".\..\..\ExamplePS1.ps1" /> <!-- The path to start, you can use %currdir% as reference to the directoy where the exe lie, you can also use relative path, .\File.cmd or full path-->
    <add key="WorkingDir" value="%currDir%" /> <!-- working dir for the process to start, if empty the working dir will be the path where this universal launcher process lie-->
    <add key="HideNotExistError" value="False"/> <!-- Will hide the error throw when the target cannot be found (default: False) -->
    <add key="Wait" value="True" /> <!-- Will wait that the called process end to close himself (default: False) -->
    <add key="Verbose" value="True" /> <!-- Will show a sumary window (default: False) -->
    <add key="HideWindow" value="False" /> <!-- Will hide the called window (default: False) -->
    <add key="AppendArguments" value="app" /> <!-- arguments to prepend to the received arguments -->
    <add key="PrependArguments" value="prep" /> <!-- arguments to append to the received arguments -->
    <add key="EnvVarToCreate" value="Toto;Tata" /> <!-- environment variable to create (Name separated by ;) -->
    <add key="EnvVarToAppend" value="" /> <!-- environment variable to append (Name separated by ;) -->
    <add key="EnvVarToPrepend" value="Path" /> <!-- environment variable to prepend (Name separated by ;) -->
    <add key="EnvVar_Toto" value="tutu" /> <!-- environment variable value (EnvVar_<Name> should exist in EnvVarTo*) %currdir% can be used -->
    <add key="EnvVar_Tata" value="blabla" /> <!-- environment variable value (EnvVar_<Name> should exist in EnvVarTo*) %currdir% can be used -->
    <add key="EnvVar_Path" value="%CURRDIR%\..\..\obj;%CURRDIR%" /> <!-- environment variable value (EnvVar_<Name> should exist in EnvVarTo*) %currdir% can be used -->
  </appSettings>
</configuration>
